html,body {
    height:100%;
}

.treelist-with-nav  .x-panel-body {
    background-color: #32404e;
}

.fa-building:before {
    content: "\f015" !important;
    //font-size:1.2em;
    background-image: none !important;
   // margin-top: auto !important;

}

.menuTree .x-treelist-item-expander:after {
    content: "\f0da";
    font: 16px/1 FontAwesome;
}

.x-grid-tree-node-expanded .x-tree-elbow-plus:before, .x-grid-tree-node-expanded .x-tree-elbow-end-plus:before {
    content: "\f0d7";
    font-size: 20px;
}
.x-tree-elbow-plus:before, .x-tree-elbow-end-plus:before {
    content: "\f0da";
    font-size: 20px;
}

.menuTree .x-tree-expander {
    right: 0;
    position: absolute;
    color: inherit;
}


.menuTree .x-grid-body {
    background-color: #32404e;
    
}

.menuTree .x-grid-cell-inner {
    transition: color 0.3s;
    color: #ADB3B8;
    background-color: #32404e;
}
.menuTree .x-grid-cell-inner:hover {
    color: white;
    cursor:pointer;
}

.menuTree .x-grid-cell-inner a{
   
    color: inherit;
    text-decoration: none;
}


.menuTree .x-tree-icon {
   // transition: color 0.3s;
   color:inherit;
}


     
            